# gitignore


# system
.DS_Store
*.DS_Store
Thumbs.db


# external
external/node_modules

# internal
internal/node_modules

#tests 
**/__pycache__
tests/venv/*
!tests/venv/venv


# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# misc
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings